<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Name of the application as displayed in Task Manager-->
    <add key="AppName" value="Theranos.PSC"/>
    
    <!--Window name of the application. Use Inspect tool for reference -->
    <add key="AppWindowName" value="Theranos.PSC"/>
    
    <!--Path of the application to be tested. Preferably get the path from start menu since it won't be changed for each build-->
    <add key="AppPath" value="Programs\Theranos, Inc\Patient Service Center\PSC3.UX.QA.appref-ms" />
    
    <!-- Development - "Dev", Production - "Live" -->
    <add key="Environment" value="Dev" />
        
    <!--Development Environment Settings-->
    <add key ="DevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\PSC3\Internal\Input\"/>

    <!--Production Environment Settings-->
    <add key ="ProdDataDirectory" value="c:\Automation.PSC3\Input\"/>

    <!--Integration Environment settings-->
    <add key="IntegrationDataDirectory" value="C:\Automation.Integration\Input" />
    
    <!-- Minimum explicit wait time will be 100 ms -->
    <add key="Interval" value="100"/>
    <!-- Maximum explicit wait time will be 120 Seconds  -->
    <add key="MaxWait" value="60"/>
    <!--WaitTime. Need to be removed in future!!!-->
    <add key="WaitTime" value="1000"/>
    
  </appSettings>
</configuration>