<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Path of the APK file-->
    <add key="ApkPath" value="C:\Automation.ME.Android\app-standard-release-2.1.2v4787-166.apk"/>

    <!--The maximum amount of time to wait for each command-->
    <add key="CommandTimeout" value="180"/>

    <!-- Implicit time wait-->
    <add key="ImplicitTimeout" value="10"/>

    <!-- Development - "Dev", Production - "Live" -->
    <add key="MEAndroidEnvironment" value="Dev" />

    <!--Development Environment Settings-->
    <add key ="MEAndroidDevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\.ME Android\Internal\Input\"/>

    <!--Production Environment Settings-->
    <add key ="MEAndroidProdDataDirectory" value="c:\Automation.ME.Android\Input\"/>

    <!--Appium Server Address and Port-->
    <add key="ServerAddress" value="http://localhost:4723/wd/hub"/>

    <!--Application login username-->
    <add key="UserName" value="AutoTest"/>


    <!--Application login username-->
    <add key="PassWord" value="Theranos1"/>
    
    <!--Application Username Email id -->
    <add key="Email" value="QATest@yopmail.com"/>
    
    <!--Application Username Email id -->
    <add key="Password" value="#EDC3edc#4"/>


  </appSettings>
</configuration>