<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Name of the application as displayed in Task Manager-->
    <add key="AppName" value="PSC3.UX.QA" />
    
    <!--Window name of the application. Use Inspect tool for reference -->
    <add key="AppWindowName" value="Theranos.PSC" />
    
    <!--Path of the application to be tested. Preferably get the path from start menu since it won't be changed for each build-->
    <add key="AppPath" value="Programs\Theranos, Inc\Patient Service Center\PSC3.UX.QA.appref-ms" />
    
    <!--Path of the SM2 App-->
    <add key="SM2AppPath" value="Programs\Theranos\Theranos.SuperMario-QA.appref-ms" />
    
    <!--Name of the application as displayed in Task Manager-->
    <add key="SM2AppName" value="Theranos.SuperMario-QA" />
    
    <!--Window name of the application. Use Inspect tool for reference -->
    <add key="SM2AppWindowName" value="Theranos.SuperMario" />
    
    <!--Name of the application as displayed in Task Manager-->
    <add key="LISAppName" value="LIS 2.0 QA"/>
    
    <!--Window name of the application. Use Inspect tool for reference -->
    <add key="LISAppWindowName" value="Theranos.LIS.2.0.QA"/>
    
    <!--Path of the application to be tested. Preferably get the path from start menu since it won't be changed for each build-->
    <add key="LISAppPath" value="Programs\Theranos, Inc\LIS\LIS 2.0 QA.appref-ms" />
    
    <!-- Development - "Dev", Production - "Live" Integration- "Integration"-->
    <add key="Environment" value="Integration" />
    
    <!--Development Environment Settings-->
    <add key="DevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\PSC3\Internal\Input\" />
    
    <!--Production Environment Settings-->
    <add key="ProdDataDirectory" value="c:\Automation.PSC3\Input\" />
    
    <!--Integration Environment settings-->
    <add key="IntegrationDataDirectory" value="C:\Automation.Integration\Input" />

    <!--Input File directory for SM2-->
    <add key="SM2DataDirectory" value="C:\Automation.Integration\SM2Input\SM2Input.xlsx" />
    
    <!-- Minimum explicit wait time will be 100 ms -->
    <add key="Interval" value="100" />
    
    <!-- Maximum explicit wait time will be 120 Seconds  -->
    <add key="MaxWait" value="30" />
    
    <!--WaitTime. Need to be removed in future!!!-->
    <add key="WaitTime" value="1000" />
    
    <!--Path of the APK file-->
    <add key="ApkPath" value="C:\Automation.ME.Android\app-standard-release-2.1.2v4787-166.apk" />
    
    <!--The maximum amount of time to wait for each command-->
    <add key="CommandTimeout" value="180" />
    
    <!-- Implicit time wait-->
    <add key="ImplicitTimeout" value="10" />
    
    <!-- Nanotainer Module True/False-->
    <add key="IsNanotainerEnabled" value="False" />
    
    <!-- Development - "Dev", Production - "Live" -->
    <add key="MEAndroidEnvironment" value="Dev" />
    
    <!--Development Environment Settings-->
    <add key="MEAndroidDevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\.ME Android\Internal\Input\" />
    
    <!--Production Environment Settings-->
    <add key="MEAndroidProdDataDirectory" value="c:\Automation.ME.Android\Input\" />
    
    <!--Appium Server Address and Port-->
    <add key="ServerAddress" value="http://localhost:4723/wd/hub" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />


    <!--Mail triggeering TRX file path-->
    <add key="Trxfilepath" value="C:\Users\csampathkumar\Source\Workspaces\Theranos.Test-Automation\References\Internal\IntegrationProject\TestResults\"/>
    
    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Mail triggeering TRX Exisited path-->
    <add key="TrxExitedfilepath" value="C:\Users\csampathkumar\Source\Workspaces\Theranos.Test-Automation\References\Internal\IntegrationProject\Existedresults\"/>

    <!--Email username-->
    <add key ="EmailUsername" value="testautomation"/>
    <!--gsrtestingqa@gmail.com,,omkarkolekar87@gmail.com-->

    <!--Email password-->
    <add key ="Emailpassword" value="Pwdi#mX91$!sYoV"/>
    <!--gsr@1234 ,Nisarga@248-->

    <add key ="EmailAddresss" value="testautomation@theranos.com"/>


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>