<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Development - "Dev", Production - "Live" -->
    <add key="Environment" value="Dev" />
    <!--Development Environment Settings-->
    <add key="DevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\PSC3\Internal\Input\" />
    <!--Production Environment Settings-->
    <add key="ProdDataDirectory" value="c:\Automation.PSC3\Input\" />
    <!-- Minimum explicit wait time will be 100 ms -->
    <add key="Interval" value="100" />
    <!-- Maximum explicit wait time will be 120 Seconds  -->
    <add key="MaxWait" value="30" />
    <!--WaitTime. Need to be removed in future!!!-->
    <add key="WaitTime" value="1000" />
    <!--The maximum amount of time to wait for each command-->
    <add key="CommandTimeout" value="180" />
    <!-- Implicit time wait-->
    <add key="ImplicitTimeout" value="10" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="NewBehavior0">
          <setCookie />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="setCookie" type="PscSoapApiAutomation.Auth.SetCookieBehaviorExtensionElement,PscSoapApiAutomation" />
      </behaviorExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPscService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <basicHttpsBinding>
        <binding name="BasicHttpsBinding_IPscService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://wsx0038pa.theranos.local/QA.PSC3.Services/PscService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPscService"
        contract="PSC3API.IPscService" name="BasicHttpBinding_IPscService"  behaviorConfiguration="NewBehavior0"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>