<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Name of the application as displayed in Task Manager-->
    <add key="LISAppName" value="LIS 2.0 QA"/>

    <!--Window name of the application. Use Inspect tool for reference -->
    <add key="LISAppWindowName" value="Theranos.LIS.2.0.QA"/>

    <!--Path of the application to be tested. Preferably get the path from start menu since it won't be changed for each build-->
    <add key="LISAppPath" value="Programs\Theranos, Inc\LIS\LIS 2.0 QA.appref-ms" />

    <!-- Development - "Dev", Production - "Live" -->
    <add key="Environment" value="Dev" />

    <!--Development Environment Settings-->
    <!--<add key ="DevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\Theranos.Automation.LIS\Internal\Input\"/>-->

    <!-- Minimum explicit wait time will be 100 ms -->
    <add key="Interval" value="100"/>
    <!-- Maximum explicit wait time will be 120 Seconds  -->
    <add key="MaxWait" value="120"/>
    <!--WaitTime. Need to be removed in future!!!-->
    <add key="WaitTime" value="1000"/>

    <!--The maximum amount of time to wait for each command-->
    <add key="CommandTimeout" value="180"/>

    <!-- Implicit time wait-->
    <add key="ImplicitTimeout" value="10"/>

    <!-- Nanotainer Module True/False-->
    <add key="IsNanotainerEnabled" value="False"/>

  </appSettings>
</configuration>