<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
<appSettings>
    
  <!--EndPoint-->
  <add key="EndPoint" value="http://externalme/meapi/v5"/>

  <!--Endpoints V5-->
  <!--Alpha-http://alpha:1212/api/v5-->
  <!--Beta (aka External ME)-http://externalme/meapi/v5-->
  <!--Staging-https://labcheckinstg.theranos.com/meapi/v5-->
  <!--Prod-https://labcheckin.theranos.com/meapi/v5-->

  <!--Test Data Directory-->
  <add key="TestDataDirectory" value="C:\\csampathkumar\\Source\\Theranos.Test-Automation\\.ME API\\Internal\\Beta\\"/>
  
  <!--Test Data Directory v4 & v5-->
  <!--Alpha C:\\csampathkumar\\Source\\Theranos.Test-Automation\\.ME API\\Internal\\Alpha\\-->
  <!--Beta C:\\csampathkumar\\Source\\Theranos.Test-Automation\\.ME API\\Internal\\Beta\\-->
  <!--Staging C:\\csampathkumar\\Source\\Theranos.Test-Automation\\.ME API\\Internal\\Staging\\-->
  <!--Production C:\\csampathkumar\\Source\\Theranos.Test-Automation\\.ME API\\Internal\\Production\\-->

  <!--Downloads Directory-->
  <add key="DownloadsDirectory" value="C:\\csampathkumar\\Source\\Theranos.Test-Automation\\.ME API\\Theranos.Automation.ME.API\\TestResults\\"/>

  
  <!--Development Environment Settings-->
  <add key="DevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\.ME API\Internal\" />

  <!-- Development - "Dev", Production - "Live" -->
  <add key="Environment" value="Dev" />
  
  <!--Production Environment Settings-->
  <add key="ProdDataDirectory" value="c:\Automation.ME.API\Input\" />

  <!--ME WebAPI TRX file path-->
  <add key="MEWebAPITrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\MEAPI\TestResults\"/>
  
  <!--Email username-->
  <add key ="EmailUsername" value="testautomation"/>
  <!--gsrtestingqa@gmail.com,,omkarkolekar87@gmail.com-->

  <!--Email password-->
  <add key ="Emailpassword" value="Pwdi#mX91$!sYoV"/>
  <!--gsr@1234 ,Nisarga@248-->

  <add key ="EmailAddresss" value="testautomation@theranos.com"/>

</appSettings>
  
</configuration>