<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Path of the SM2 App-->
    <add key="SM2AppPath" value="Programs\Theranos\Theranos.SuperMario-QA.appref-ms"/>

    <!--Name of the application as displayed in Task Manager-->
    <add key="SM2AppName" value="Theranos.SuperMario-QA"/>

    <!--Window name of the application. Use Inspect tool for reference -->
    <add key="SM2AppWindowName" value="Theranos.SuperMario"/>
    <!--Input File directory for SM2-->
    <add key="SM2DataDirectory" value="C:\Automation.Integration\SM2Input\SM2Input.xlsx" />
    
   
  </appSettings>
</configuration>