<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Integration project TRX file path-->
    <add key="IPTrxfilepath" value="C:\csampathkumar\\Source\Workspaces\Theranos.Test-Automation\References\Internal\IntegrationProject\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Integration project TRX Exisited path-->
    <add key="IPTrxExitedfilepath" value="C:\csampathkumar\Source\Workspaces\Theranos.Test-Automation\References\Internal\IntegrationProject\Existedresults\"/>


    <!--Android TRX file path-->
    <add key="MEAndroidTrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Android\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Android TRX Exisited path-->
    <add key="MEAndroidTrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Android\Existedresults"/>

    <!--ME WEB TRX file path-->
    <add key="MEWebTrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Web\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--ME WEB TRX Exisited path-->
    <add key="MEWebTrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Web\Existedresults\"/>

    <!--PSC TRX file path-->
    <add key="PSCTrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\PSC3\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--PSC TRX Exisited path-->
    <add key="PSCTrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\PSC3\Existedresults\"/>

   
    <!--Mail Template TRX file path-->
    <add key="Mailtemplatefilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\Mailtemplate\TestResults\"/>

    <!--ME WebAPI TRX file path-->
    <add key="MEWebAPITrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\PSC3\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--ME WebAPI TRX Exisited path-->
    <add key="MEWebAPITrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\PSC3\Existedresults\"/>


    <!--Email username-->
    <add key ="EmailUsername" value="testautomation"/>
    <!--gsrtestingqa@gmail.com,,omkarkolekar87@gmail.com-->

    <!--Email password-->
    <add key ="Emailpassword" value="Pwdi#mX91$!sYoV"/>
    <!--gsr@1234 ,Nisarga@248-->

    <add key ="EmailAddresss" value="testautomation@theranos.com"/>

  </appSettings>
</configuration>