<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!--Path of the APK file-->
    <add key="ApkPath" value="C:\Apkfile\app-standard-release-2.3v5202-186.apk"/>

    <!--The maximum amount of time to wait for each command-->
    <add key="CommandTimeout" value="180"/>

    <!-- Implicit time wait-->
    <add key="ImplicitTimeout" value="40"/>

    <!-- Development - "Dev", Production - "Live" -->
    <add key="MEAndroidEnvironment" value="Dev"/>

    <!--Development Environment Settings-->
    <add key="MEAndroidDevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\.ME Android\Internal\Input\"/>

    <!--Production Environment Settings-->
    <add key="MEAndroidProdDataDirectory" value="c:\Automation.ME.Android\Input\"/>

    <!--Appium Server Address and Port-->
    <add key="ServerAddress" value="http://127.0.0.1:4723/wd/hub"/>

    <!--Theranos .ME Application Password-->
    <add key="password" value="Theranos1"/>

    <!--Appium Server path -->
    <add key="AppiumFilepath" value="C:/Program Files (x86)/Appium/node.exe"/>

    <!--Appium Server path -->
    <add key="adblocation" value="C:\\AndroidSdk\\sdk\\platform-tools"/>

    <!--Emulator Launch command-->
    <add key="EmulatorlaunchCMD" value="emulator.exe -avd TestDevice5.1 -scale 0.55 -dpi-device 96"/>


    <!--Emulator close the application-->
    <add key="Appclose" value="adb shell pm clear com.theranos.me"/>
  
    <!--Emulator Keypad unlock-->
    <add key="unlockemulator" value="adb shell input keyevent 82"/>
  
    

    <!-- Mail template-->
    <!--Mail triggeering TRX file path-->
    <add key="IPTrxfilepath" value="C:\Users\csampathkumar\Source\Workspaces\Theranos.Test-Automation\References\Internal\IntegrationProject\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Mail triggeering TRX Exisited path-->
    <add key="IPTrxExitedfilepath" value="C:\Users\csampathkumar\Source\Workspaces\Theranos.Test-Automation\References\Internal\IntegrationProject\Existedresults\"/>


    <!--Mail triggeering TRX file path-->
    <add key="MEAndroidTrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Android\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Mail triggeering TRX Exisited path-->
    <add key="MEAndroidTrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Android\Existedresults\"/>

    <!--Mail triggeering TRX file path-->
    <add key="MEWebTrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Web\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Mail triggeering TRX Exisited path-->
    <add key="MEWebTrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\.ME Web\Existedresults\"/>

    <!--Mail triggeering TRX file path-->
    <add key="PSCTrxfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\PSC3\TestResults\"/>

    <!--C:\Users\chanduru.s\Source\Workspaces\Integration Project\TestResults-->

    <!--Mail triggeering TRX Exisited path-->
    <add key="PSCTrxExitedfilepath" value="C:\csampathkumar\Source\Theranos.Test-Automation\References\Internal\PSC3\Existedresults\"/>


    <!--Email username-->
    <add key ="EmailUsername" value="testautomation"/>
    <!--gsrtestingqa@gmail.com,,omkarkolekar87@gmail.com-->

    <!--Email password-->
    <add key ="Emailpassword" value="Pwdi#mX91$!sYoV"/>
    <!--gsr@1234 ,Nisarga@248-->

    <add key ="EmailAddresss" value="testautomation@theranos.com"/>




  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
