<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="PSC3.UX.QA" />
    <add key="AppWindowName" value="Theranos.PSC" />
    <add key="AppPath" value="Programs\Theranos\PSC3 App Automation\PSC3.UX.QA.appref-ms" />
    <add key="Environment" value="Dev" />
    <add key="DevDataDirectory" value="C:\Source\Theranos.Test-Automation\PSC3\Internal\Input\" />
    <add key="ProdDataDirectory" value="c:\Automation.PSC3\Input\" />
    <add key="Interval" value="100" />
    <add key="MaxWait" value="30" />
    <add key="WaitTime" value="1000" />
    <add key="ApkPath" value="C:\Automation.ME.Android\app-standard-release-2.1.2v4787-166.apk" />
    <add key="CommandTimeout" value="180" />
    <add key="ImplicitTimeout" value="10" />
    <add key="IsNanotainerEnabled" value="False" />
    <add key="MEAndroidEnvironment" value="Dev" />
    <add key="MEAndroidDevDataDirectory" value="Source\Workspaces\Theranos.Test-Automation\.ME Android\Internal\Input\" />
    <add key="MEAndroidProdDataDirectory" value="c:\Automation.ME.Android\Input\" />
    <add key="ServerAddress" value="http://localhost:4723/wd/hub" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="configufilepath" value="C:\Users\csampathkumar\AppData\Local\Apps\2.0\" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>